* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background: rgb(106,182,190);
    background: linear-gradient(0deg, rgba(106,182,190,1) 0%, rgba(221,68,220,1) 100%);
    font-family: 'Roboto', sans-serif;
}